<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <form class="form-horizontal">
        <div class="form-group">

            <div class="col-md-5 col-xs-4 col-sm-5">
                <input type="text" data-ng-model="exploreNearby" class="form-control" placeholder="Explore Places In. e.g. New York" />
            </div>

            <div class="col-md-5 col-xs-4 col-sm-5">
                <input type="text" data-ng-model="exploreQuery" class="form-control" placeholder="Specify Category. e.g. Burger" />
            </div>

            <div class="col-md-2 col-xs-4 col-sm-2">
                <button class="btn btn-primary pull-right" data-ng-click="doSearch()"><span class="glyphicon glyphicon-search"></span>Explore</button>
            </div>

        </div>

        <div class="well well-sm" data-ng-show="totalRecordsCount == 0">
            <h5>No Places found Near by ({{exploreNearby}})</h5>
        </div>

        <div data-ng-show="totalRecordsCount > 0">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" data-ng-model="filterValue" class="form-control" placeholder="Filter Places by (Place Name) or (Category)" />
                </div>
            </div>
            <ul class="list-group" data-ng-repeat="item in filteredPlaces">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <img data-ng-src="{{buildCategoryIcon(item.venue.categories[0].icon)}}"
                                 title="{{item.venue.categories[0].shortName}}" class="venueIcon" />
                        </div>
                        <div class="col-xs-6 col-md-8">

                                <h2 class="venueName">{{item.venue.name}}</h2>

                        </div>
                        <div class="col-xs-4 col-md-3">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <span class="badge">{{item.venue.rating | number:1}}</span>
                        </div>
                        <div class="col-xs-6 col-md-8">
                            <p class="text-warning"><small>{{(item.venue.location.address != null) && item.venue.location.address}} - {{item.venue.categories[0].shortName}}</small></p>
                            <p>{{item.tips[0].text}}</p>

                        </div>
                        <div class="col-xs-4 col-md-3">
                                <img data-ng-src="{{buildVenueThumbnail(item.venue.photos.groups[0])}}" class="img-thumbnail" />
                        </div>
                    </div>

                </li>
            </ul>
        </div>


    </form>
</div>
